
<!-- display this if desktop width -->
<!-- <div>
  <table class="table-fixed mt-10 text-left w-full hidden md:table">
    <thead>
      <tr>
        <th class="w-1/12 ..."></th>
        <th class="font-hairline px-2 w-4/12 ...">TITLE</th>
        <th class="font-hairline px-2 w-3/12 ...">ARTIST</th>
        <th class="font-hairline px-2 w-3/12 ...">ALBUM</th>
     
        <th class="font-hairline px-2 text-center w-1/12 ..."><i class="far fa-clock"></i></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let track of tracks; index as i" class="hover:bg-gray-700 hover-trigger" style="border-top: 1px solid rgb(88, 88, 95);" [ngClass]="{'hidden xl:block': numberOfTracksToDisplay && i > numberOfTracksToDisplay}">
        <td class=""><button (click)="playTrack(track.uri)" class="hide h-full w-full flex align-middle justify-center text-xl text-center hover:text-2xl hover:text-white focus:outline-none active:text-gray-600"><i class="fas fa-play-circle"></i></button></td>
        <td class="truncate ... text-white font-normal py-2 px-2">{{ track.name }}</td>
        <td class="truncate ... text-white font-normal py-2 px-2 cursor-pointer hover:underline" [routerLink]="['/artist', track.artists[0].id]">{{ track.artists[0].name }}</td>
        <td class="truncate ... text-white font-normal py-2 px-2">{{ track.album.name }}</td>
        <td class="truncate ... text-white font-normal py-2 px-2 text-center">{{convertmillisToMinutesAndSeconds(track.duration_ms) }}</td>
      </tr>
    </tbody>
  </table>
</div> -->


<!-- you should probably  -->
<!-- track display if mobile width -->
<div class="mt-8">
  <div *ngFor="let track of tracks; index as i" class="flex items-center hover:bg-gray-700 rounded-sm p-2 rounded-md" [ngClass]="{'hidden xl:block': numberOfTracksToDisplay && i > numberOfTracksToDisplay}" (click)="playTrack(track.uri)">
    <img [src]="track.album.images[track.album.images.length -1].url" class="pr-3">
    <div class="flex-grow">
      <p class="truncate ... text-white font-semibold">{{ track.name }}</p>
      <td class="truncate ... font-normal text-gray-300" [routerLink]="['/artist', track.artists[0].id]">{{ track.artists[0].name }}</td>
    </div>

    <i class="fas fa-ellipsis-h"></i>
  </div>
</div>