<div class="main-content-padding pt-24" *ngIf="searchData">
  <div class="mb-10">
    <h4 class="text-white font-bold text-2xl sm:text-lg mb-4">Songs</h4>
    <app-tracklist *ngIf="searchData.tracks" [tracks]="searchData.tracks.items" [numberOfTracksToDisplay]="5"></app-tracklist>
  </div>
    <app-item-row *ngIf="searchData.albums" title="Albums" [seeAllTitle]="getSeeAllTitle('Albums')" [items]="searchData.albums.items"></app-item-row>
    <app-item-row *ngIf="searchData.artists" title="Artists" [seeAllTitle]="getSeeAllTitle('Artists')" [items]="searchData.artists.items"></app-item-row>
    <app-item-row *ngIf="searchData.artists" title="Playlists" [seeAllTitle]="getSeeAllTitle('Tracks')" [items]="searchData.playlists.items"></app-item-row>
  </div>

  <!-- <div class='main-content-padding pt-24 h-screen flex justify-center items-center' *ngIf="!searchData">
    <i class="fas fa-search fa-5x mb-56 text-gray-700 text-6xl"></i>
    <p>Use the search input located above.</p>
  </div> -->
  