<div class="main-content-padding pt-48 h-screen">
    <form [formGroup]="postPlaylistForm" (ngSubmit)="onFormSubmit()" class="w-5/6 lg:w-2/3 mx-auto bg-gray-900 p-8 rounded-md shadow-xl" style="max-width: 700px;" *ngIf="!playlistPreviewInfo">
      <h1 class="text-4xl mb-6">Post a Playlist</h1>
        <div class="mb-6">
            <label class="block text-grey-darker text-sm font-bold mb-2" for="playlistUrl">Playlist URL</label>
            <input
              class="appearance-none rounded w-full py-2 px-3 bg-gray-700 text-gray-200 focus:outline-none focus:shadow-outline"
              id="playlistUrl"
              type="text"
              placeholder="URL"
              formControlName="playlistUrl"
              [ngClass]="{ 'is-invalid': submitted && f.playlistUrl.errors, 'is-invalid': submitted && postPlaylistForm.hasError('invalidUrl') }"
            />
            <div *ngIf="submitted" class="invalid-feedback">
              <div *ngIf="f.playlistUrl.errors && f.playlistUrl.errors.required">Playlist URL is required</div>
              <div *ngIf="postPlaylistForm.hasError('invalidUrl') && !f.playlistUrl.errors">Must be a valid Spotify playlist URL.</div>
          </div>
          </div>
          <div class="mb-6">
            <label class="block text-grey-darker text-sm font-bold mb-2" for="tag-input">Genre Tags</label>
            <select class="rounded w-full py-2 px-3 bg-gray-700 text-gray-200 focus:outline-none focus:shadow-outline" (change)="addTag($event)" formControlName="genreTag" [ngClass]="{ 'is-invalid': submitted && tagsForPlaylist.length < 1}">
              <option value="" [selected]="true" disabled>Select a genre</option>
              <option *ngFor="let tag of availableGenreTags" [ngValue]="tag">{{tag}}</option>
           </select>
           <div *ngIf="submitted" class="invalid-feedback">
            <div *ngIf="tagsForPlaylist.length < 1">Must select at least one genre tag.</div>
        </div>
          </div>  
          
          <!-- tags section -->
          <div class="flex">
              <div class="flex items-center bg-green-600 mr-3 rounded-full px-4 py-1" *ngFor="let tag of tagsForPlaylist"><p class="mr-2 font-semibold">{{tag}}</p> <i class="fas fa-times cursor-pointer" (click)="removeTag(tag)"></i></div>
          </div>
          <hr class='my-3'/>
          <button
          class="mt-10 bg-green-600 hover:bg-blue-dark py-2 text-white font-bold rounded-full w-full"
          type="submit"
      
        >
        Post Playlist
        </button>
    </form>

    <div class="w-5/6 lg:w-2/3 mx-auto" style="max-width: 900px;">
      <app-post-playlist-preview *ngIf="playlistPreviewInfo" [playlist]="playlistPreviewInfo" (submit)="postPlaylist()" (cancel)="clearPlaylistPreview()"></app-post-playlist-preview>
    </div>
</div>
