<div class="bg-gray-900 h-screen flex items-center">
      <div class="w-5/6 lg:w-1/2 mx-auto" style="max-width: 700px;">
        <div class="text-4xl mb-6">{{showSignup ? 'Sign Up' : 'Sign In'}}</div>
        <div class="" *ngIf="showSignup">
          <div class="mb-6">
            <label class="block text-grey-darker text-sm font-bold mb-2" for="email">Email Address</label>
            <input
              class="appearance-none rounded w-full py-2 px-3 bg-gray-700 text-gray-200 focus:outline-none focus:shadow-outline"
              id="email"
              type="email"
              placeholder="Your email address"
            />
          </div>
          <div class="mb-6">
            <label class="block text-grey-darker text-sm font-bold mb-2" for="password">Password</label>
            <input
              class="appearance-none rounded w-full py-2 px-3 bg-gray-700 text-gray-200 focus:outline-none focus:shadow-outline"
              id="password"
              type="password"
              placeholder="Your secure password"
            />
            <p class="text-grey text-xs mt-1"></p>
          </div>

          <div class="mb-6">
            <label class="block text-grey-darker text-sm font-bold mb-2" for="password">Confirm Password</label>
            <input
              class="appearance-none rounded w-full py-2 px-3 bg-gray-700 text-gray-200 focus:outline-none focus:shadow-outline"
              id="password"
              type="password"
              placeholder="Your secure password"
            />
            <p class="text-grey text-xs mt-1"></p>
          </div>
        </div>
        <div class="" *ngIf="!showSignup">
          <div class="mb-6">
            <label class="block text-grey-darker text-sm font-bold mb-2" for="email">Email Address</label>
            <input
              class="appearance-none rounded w-full py-2 px-3 bg-gray-700 text-gray-200 focus:outline-none focus:shadow-outline"
              id="email"
              type="email"
              placeholder="Your email address"
            />
          </div>
          <div class="mb-6">
            <label class="block text-grey-darker text-sm font-bold mb-2" for="password">Password</label>
            <input
              class="appearance-none rounded w-full py-2 px-3 bg-gray-700 text-gray-200 focus:outline-none focus:shadow-outline"
              id="password"
              type="password"
              placeholder="Your secure password"
            />
            <p class="text-grey text-xs mt-1"></p>
          </div>
        </div>
        <button
        class="mt-6 bg-green-600 hover:bg-blue-dark py-2 text-white font-bold rounded-full w-full"
        type="submit"
        (click)="buttonAction()"
      >
      {{showSignup ? 'Sign Up' : 'Sign In'}}
      </button>
        <p class="text-center mt-5 p-2 text-grey-dark text-sm no-underline hover:text-grey-darker cursor-pointer" (click)="showSignup = !showSignup">
          {{showSignup ? 'I already have an account' : 'I want to create an account'}}
        </p>
      </div>
    </div>

