
<div id="player" class="flex justify-between items-center bg-gray-800 w-full py-6 px-4 shadow-md" *ngIf="currentTrackInfo">
    <div class="w-3/12">
        <h2 class="text-lg text-white mb-0 truncate ... tracking-tighter ">{{currentTrackInfo.name}}</h2>
        <a class="truncate ... hover:underline hover:text-white cursor-pointer font-hairline" *ngFor="let artist of currentTrackInfo.artists; index as i"  (click)="navigateToArtist(artist)">{{artist.name}}{{currentTrackInfo.artists.length > 1 && i + 1 < currentTrackInfo.artists.length ? ", ": ""}}</a>
    </div>

    <div class="flex flex-col items-center flex-grow px-12">
        <div class="flex items-center justify-center w-6/12 text-gray-500 px-10 mb-3">
            <div class="px-4 hover:text-white">
                <i class="fas fa-random"></i>
            </div>
            <div class="px-4 hover:text-white">
                <button (click)="previousTrack()">
                    <i class="fas fa-step-backward"></i>
                </button>
            </div>
            <div class="px-4 hover:text-white">
                <button (click)="pause()" *ngIf="playerStatus && !playerStatus.paused">
                    <i class="far fa-pause-circle fa-2x"></i>
                </button>
                <button (click)="resume()" *ngIf="playerStatus && playerStatus.paused">
                    <i class="far fa-play-circle fa-2x"></i>
                </button>
            </div>
            <div class="px-4 hover:text-white">
                <button (click)="nextTrack()">
                    <i class="fas fa-step-forward"></i>
                </button>
            </div>
            <div class="px-4 hover:text-white">
                    <i class="fas fa-sync-alt"></i>
            </div>
        </div>
        <div class="flex items-center w-full" >
            <span *ngIf='playerStatus' class="px-2">{{convertmillisToMinutesAndSeconds(playerStatus.position)}}</span>
            <input type="range" min="0" [max]="playerStatus.duration" class="seek_slider" (change)="seekTo($event)" [(ngModel)]="playerStatus.position">
            <span *ngIf='playerStatus' class="px-2">{{convertmillisToMinutesAndSeconds(playerStatus.duration)}}</span>
        </div>
    </div>

    <div class="w-2/12 flex items-center px-3">
        <i class="fas fa-volume-up p-2"></i>
        <input type="range" min="1" max="100" class="seek_slider"  (change)="changeVolume($event)" [(ngModel)]="playerVolume">
    </div>
</div>