<div class="px-3">
    <div class="block md:flex -mx-3">
      <div class="m-auto max-w-3/4 mb-3 md:m-0 md:max-w-full md:w-1/5">
        <img class="w-full h-full object-cover" [src]="item.images[0].url" />
      </div>
      <div class=" md:w-4/5 md:px-3">
        <p class="-mb-2 text-sm hidden font-medium md:block">{{item.type}}</p>
        <h2 class="text-white font-bold text-4xl mb-2">{{ item.name }}</h2>
        <p class="mb-2">{{ item.description }}</p>
        <!-- <p>
          Created by <span>{{ playlist.owner.display_name }}</span>
        </p> -->
      </div>
    </div>
  </div>
  