<div class="main-content-padding pt-40 pb-5" [ngClass]="{'pt-40': padTop}"  [ngStyle]="headerBackground">
    <div class="block md:flex">
      <div class="w-2/3 mx-auto md:w-2/6 xl:w-1/6 mb-8 md:mb-0">
        <img class="w-full h-auto object-cover image-shadow" [src]="item.images[0].url" />
      </div>
      <div class="w-full md:w-4/6 md:pl-10 pr-4 flex flex-col justify-end" >
        <p class="text-xs hidden font-medium md:block text-white">{{item.type.toUpperCase()}}</p>
        <h2 class="text-white font-bold text-5xl sm:text-4xl leading-none mb-2">{{ item.name }}</h2>
        <p class="mb-2 truncate">{{ item.description }}</p>
        <div  class="flex items-center">
          <a *ngIf="item.type == 'album'" class="text-white font-bold hover:underline cursor-pointer mr-1" [routerLink]="['/artist', item.artists[0].id]">{{ item.artists[0].name }}</a>
          <a *ngIf="item.type == 'playlist'" class="text-white font-bold hover:underline cursor-pointer mr-1" [routerLink]="['/user/' + item.owner.display_name]">{{ item.owner.display_name }}</a>
          <i class="fas fa-circle mr-1" style='font-size: 4px;' *ngIf="item.type == 'album'"></i>
          <span class="mr-1" *ngIf="item.type == 'album'">{{ item.release_date.split('-')[0] }}</span>
          <i class="fas fa-circle mr-1" style='font-size: 4px;'></i>
          <span>{{item.type == 'album' ? item.total_tracks : item.tracks.length}} songs</span>
        </div>
        <!-- <app-voting-utility *ngIf="playlistrDetails" itemType='playlist' [itemId]='playlistrDetails.playlistId' [userVoteInfo]="playlistrDetails.voteInfo.userVoteInfo" [voteCount]="playlistrDetails.voteInfo.voteCount"></app-voting-utility> -->
        <app-liking-utility *ngIf="playlistrDetails" itemType='playlist' [itemId]='playlistrDetails.playlistId' [userLikeInfo]="playlistrDetails.likeInfo.userLike" [likeCount]="playlistrDetails.likeInfo.likeCount"></app-liking-utility>
      </div>
    </div>

  </div>
  