<div class="flex flex-col h-screen">
  <div class="flex-1 overflow-y-auto flex flex-grid" *ngIf="router.url !== '/welcome' && router.url !== '/auth'">
    <div
    *ngIf="isMenuOpen"
    class="fixed w-2/3 z-20 md:block md:relative md:w-1/4 bg-gray-900 shadow-lg animate__animated animate__slideInLeft animate__faster"
    >
    <app-sidebar></app-sidebar>
  </div>
  <div class="md:w-3/4 px-5 md:px-8 overflow-y-scroll overscroll-x-none h-full">
    <app-nav></app-nav>
    <button class="md:hidden pr-2 py-2 mb-4 focus:outline-none" (click)="isMenuOpen = !isMenuOpen">
      <!-- Menu Button -->
      <i class="fas fa-bars fa-2x"></i>
    </button>
    <router-outlet></router-outlet>
  </div>
  <div
  *ngIf="isMenuOpen"
  class=" opacity-0 fixed w-full h-full bg-gray-900 md:hidden fadeIn"
  [ngClass]="{ 'opacity-50 z-10': isMenuOpen }"
  (click)="isMenuOpen = false"
  ></div>
  </div>
  <footer>
    <app-player></app-player>
  </footer>
</div>
<router-outlet *ngIf="router.url === '/welcome' || router.url === '/auth'"></router-outlet>
<app-context-menu></app-context-menu>