<div class="flex flex-col h-screen" *ngIf="fullScreenViews.indexOf(currentRoute) == -1">
  <div class="flex-1 overflow-y-auto flex flex-grid">
    <div
    *ngIf="isMenuOpen"
    class="fixed md:w-2/3 lg:w-3/12 xl:w-2/12 z-20 md:block md:relative md:w-1/4 bg-gray-900 shadow-lg animate__animated animate__slideInLeft animate__faster"
    >
    <app-sidebar (closeMenu)="isMenuOpen = !isMenuOpen"></app-sidebar>
  </div>
  <div class="w-full overflow-y-auto overscroll-x-auto h-full relative">
    <app-nav (openMenu)="isMenuOpen = !isMenuOpen"></app-nav>

    <router-outlet></router-outlet>
  </div>
  <div
  *ngIf="isMenuOpen"
  class=" opacity-0 fixed w-full h-full bg-gray-900 md:hidden fadeIn"
  [ngClass]="{ 'opacity-50 z-10': isMenuOpen }"
  (click)="isMenuOpen = false"
  ></div>
  </div>
  <footer>
    <app-player></app-player>
  </footer>
</div>
<router-outlet *ngIf="fullScreenViews.indexOf(currentRoute) > -1"></router-outlet>
<app-context-menu></app-context-menu>
