<div class="flex flex-grid h-full">
  <div
    *ngIf="isMenuOpen"
    class="absolute w-2/3 z-20 md:block md:relative md:w-1/4 min-h-screen bg-gray-900 shadow-lg animate__animated animate__slideInLeft animate__faster"
  >
    <app-sidebar></app-sidebar>
  </div>
  <div class="md:w-3/4 p-8">
    <button class=" md:hidden pr-2 py-2 mb-4 focus:outline-none" (click)="isMenuOpen = !isMenuOpen">
      <!-- Menu Button -->
      <i class="fas fa-bars fa-2x"></i>
    </button>
    <router-outlet></router-outlet>
  </div>
  <div
    *ngIf="isMenuOpen"
    class=" opacity-0 absolute w-full h-full bg-gray-900 transition-all duration-500 ease-in-out md:hidden"
    [ngClass]="{ 'opacity-50 z-10': isMenuOpen }"
    (click)="isMenuOpen = false"
  ></div>
</div>
