<div class="mb-8 mt-8 flex justify-between align-middle main-content-padding absolute w-full" if="nav">
    <div class="flex w-full">
        <button class="md:hidden focus:outline-none" (click)="isMenuOpen = !isMenuOpen">
            <!-- Menu Button -->
            <i class="fas fa-bars fa-2x"></i>
        </button>
        <div class="mr-4">
        <button class="mr-4" (click)="back()"><i class="fas fa-chevron-circle-left text-4xl hover:text-gray-500 active:text-gray-600"></i></button>
        <button (click)="forward()"><i class="fas fa-chevron-circle-right text-4xl hover:text-gray-500 active:text-gray-600"></i></button>
        </div>
        <div class="flex flex-grow bg-gray-200 rounded-full mx-4 px-3 py-1 overflow-hidden items-center hidden md:visible" style="max-width: 300px;">
            <i class="fas fa-search" style="height: fit-content;"></i>
            <input class="w-full text-gray-900 mx-3 focus:outline-none bg-gray-200" placeholder="Artists, songs, or playlists" [(ngModel)]="searchInputText" (ngModelChange)="searchInputUpdate.next($event)" (keyup)="searchKeyUp()"/>
        </div>
    </div>

    <a class="btn bg-green-600" routerLink="/auth">Login</a>
</div>
