<div class="mb-8 mt-5 flex justify-between align-middle">
    <div>
        <button class="mr-4" (click)="back()"><i class="fas fa-chevron-circle-left text-4xl hover:text-gray-500 active:text-gray-600"></i></button>
        <button (click)="forward()"><i class="fas fa-chevron-circle-right text-4xl hover:text-gray-500 active:text-gray-600"></i></button>
    </div>
    <div class="flex flex-grow bg-white rounded-full mx-3 px-3">
        <i class="fas fa-search"></i>
        <input class="w-full" placeholder="Artists, songs, or playlists"/>
    </div>
    <a href="http://localhost:4000/login" class='rounded-full px-8 py-2 bg-green-700 inline-block'>SPOTIFY LOGIN</a>
</div>
