<div class="h-full bg-gray-900 shadow-lg px-3">
  <div class="py-5 px-3">
    <div class="bg-white rounded-full w-8 h-8 inline-block mr-2"></div>
    <h3 class="font-extrabold text-4xl text-white inline">Playlistr</h3>
  </div>

  <div class="text-xl">
    <a
      href="#"
      class="block px-1 py-2 px-3 rounded hover:text-white cursor-pointer focus:outline-none focus:shadow-outline"
    >
      <i class="fas fa-home inline mr-4" alt="home"></i>
      <p class="inline">Home</p>
    </a>
    <a
      href="#"
      class="block px-1 py-2 px-3 rounded hover:text-white cursor-pointer focus:outline-none focus:shadow-outline"
    >
      <i class="fas fa-user inline mr-4" alt="search"></i>
      <p class="inline">Your Profile</p>
    </a>
    <a
      href="#"
      class="block px-1 py-2 px-3 rounded hover:text-white cursor-pointer focus:outline-none focus:shadow-outline"
    >
      <i class="fas fa-globe inline mr-4" alt="discover"></i>
      <p class="inline">Discover</p>
    </a>
  </div>

  <div class="uppercase mt-10">
    Playlists
  </div>
</div>
