<div class="h-full">
  <div class="py-5 px-6 text-white">
    <i class="fas fa-compact-disc fa-2x mr-1"></i>
    <h3 class="font-extrabold text-4xl inline">Playlistr</h3>
  </div>

  <div class="text-xl">
    <a
      routerLink="/home"
      [routerLinkActive]="['text-white', 'border-l-4', 'border-green-500', 'pl-4']"
      class="block px-1 py-2 px-6 hover:text-white cursor-pointer focus:outline-none focus:shadow-outline active:bg-gray-800"
    >
      <i class="fas fa-home inline mr-4" alt="home"></i>
      Home
    </a>
    <a
      href="#$"
      [routerLinkActive]="['text-white', 'border-l-4', 'border-green-400', 'pl-4']"
      class="block px-1 py-2 px-6 hover:text-white cursor-pointer focus:outline-none focus:shadow-outline active:bg-gray-800"
    >
      <i class="fas fa-user inline mr-4" alt="search"></i>
      Your Profile
    </a>
    <a
      href="#$%"
      [routerLinkActive]="['text-white', 'border-l-4', 'border-green-400', 'pl-4']"
      class="block px-1 py-2 px-6 hover:text-white cursor-pointer focus:outline-none focus:shadow-outline active:bg-gray-800"
    >
      <i class="fas fa-globe inline mr-4" alt="discover"></i>
      Discover
    </a>
  </div>

  <div class="uppercase mt-10 px-6 pb-3">
    Playlists
  </div>
  <a *ngFor="let playlist of userPlaylists" [routerLink]="['/playlist', playlist.id]" class="block pb-2 px-6 truncate ... hover:text-white">{{ playlist.name }}</a>
  <div class="w-full absolute bottom-0 m-auto animate__animated animate__fadeIn animate__delay-1s">
    <hr class="mt-1 border-gray-800" />
    <div class="p-5 hover:text-white">
      <p><i class="fas fa-plus p-1 mr-1 border-2 border-gray-400 rounded-full"></i> New Playlist</p>
    </div>
    <img [src]="nowPlayingImageUrl" *ngIf="nowPlayingImageUrl" class="w-full h-auto"/>
  </div>
</div>
