<div class="h-full">
  <div class="py-5 px-6">
    <div class="bg-white rounded-full w-8 h-8 inline-block mr-2"></div>
    <h3 class="font-extrabold text-4xl text-white inline">Playlistr</h3>
  </div>

  <div class="text-xl">
    <a
      href="#"
      [routerLink]=""
      [routerLinkActive]="['text-white', 'border-l-4', 'border-green-500', 'pl-4']"
      class="block px-1 py-2 px-6 hover:text-white cursor-pointer focus:outline-none focus:shadow-outline active:bg-gray-800"
    >
      <i class="fas fa-home inline mr-4" alt="home"></i>
      Home
    </a>
    <a
      href="#$"
      [routerLinkActive]="['text-white', 'border-l-4', 'border-green-400', 'pl-4']"
      class="block px-1 py-2 px-6 hover:text-white cursor-pointer focus:outline-none focus:shadow-outline active:bg-gray-800"
    >
      <i class="fas fa-user inline mr-4" alt="search"></i>
      Your Profile
    </a>
    <a
      href="#$%"
      [routerLinkActive]="['text-white', 'border-l-4', 'border-green-400', 'pl-4']"
      class="block px-1 py-2 px-6 hover:text-white cursor-pointer focus:outline-none focus:shadow-outline active:bg-gray-800"
    >
      <i class="fas fa-globe inline mr-4" alt="discover"></i>
      Discover
    </a>
  </div>

  <div class="uppercase mt-10 px-6">
    Playlists
  </div>
</div>
