<div class="w-full rounded-md bg-gray-700 p-3 mb-3 shadow flex justify-between items-center" *ngFor="let comment of comments">
    <div>
        <p class="font-semibold text-lg mb-1 hover:underline" *ngIf="!isProfileView">{{comment.userByOwnerId.spotifyUserId}}</p>
        <p class="text-white">{{comment.content}}</p>
        <a class="block text-xs mt-2 text-gray-500 hover:underline cursor-pointer" *ngIf="isProfileView" [routerLink]="'/playlist/' + comment.playlistByParentPlaylistId.spotifyPlaylistId">View Parent Playlist</a>
    </div>
   
    <app-delete-item-utility *ngIf="showDelete" itemType='comment' [itemId]="comment.commentId"></app-delete-item-utility>
</div>