<div class="modal fixed w-full h-full top-0 left-0 flex items-center justify-center z-10" *ngIf="isVisible">
    <div class="modal-overlay absolute w-full h-full bg-gray-900 opacity-75"></div>
    
    <div class="modal-container bg-gray-700 w-11/12 md:max-w-md mx-auto rounded shadow-2xl overflow-y-auto z-50">


      <!-- Add margin if you want to see some of the overlay behind the modal-->
      <div class="modal-content py-4 text-left px-6">
        <!--Title-->
        <div class="flex justify-between items-center pb-3">
          <p class="text-2xl font-bold">Welcome to Playlistr!</p>
          <div class="modal-close cursor-pointer" (click)="isVisible = false">
            <svg class="fill-current text-white" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
              <path d="M14.53 4.53l-1.06-1.06L9 7.94 4.53 3.47 3.47 4.53 7.94 9l-4.47 4.47 1.06 1.06L9 10.06l4.47 4.47 1.06-1.06L10.06 9z"></path>
            </svg>
          </div>
        </div>

        <!--Body-->
        <p>Modal content can go here</p>
        <p>...</p>
        <p>...</p>
        <p>...</p>
        <p>...</p>

        <!--Footer-->
        <div class="flex justify-end pt-2">
          <button class="modal-close px-4 bg-gr p-3 rounded-lg text-white bg-green-600 cursor-pointer" (click)="isVisible = false">Continue</button>
        </div>
        
      </div>
    </div>
  </div>