.form-control,
.dropdown-content,
.suggestion-active,
.dropdown-content a {
  width: 100%;
  --text-opacity: 1;
  color: rgba(237, 242, 247, var(--text-opacity)) !important;
  border-radius: 0.25rem !important;
  --bg-opacity: 1;
  background-color: #4a5568 !important;
  background-color: rgba(74, 85, 104, var(--bg-opacity)) !important;
  font-family: inherit;
  font-size: 100%;
  margin: 0px !important;
}

.form-control {
  padding-left: 0.75rem !important;
  padding-right: 0.75rem !important;
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.position-relative {
  position: relative;
}

.dropdown-content {
  position: absolute;
  margin-top: 4px !important;
}

.dropdown-content a,
.suggestion-active {
  color: rgba(237, 242, 247, var(--text-opacity)) !important;
}
