.ng-autocomplete {
  width: 100%;
  --text-opacity: 1;
  color: rgba(237, 242, 247, var(--text-opacity));
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 0.25rem;
  --bg-opacity: 1;
  background-color: #4a5568;
  background-color: rgba(74, 85, 104, var(--bg-opacity));
  font-family: inherit;
  font-size: 100%;
}
