.description-text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
}

.play-icon {
  position: absolute;
  right: 25px;
  /* bottom: 60px; */
}

#playButtonSlider .play-icon {
  opacity: 0;
  bottom: 50px;
  transition: all 0.15s ease-in-out;
  -moz-transition: all 0.15s ease-in-out;
  -webkit-transition: all 0.15s ease-in-out;
}

#playButtonSlider:hover .play-icon {
  opacity: 1;
  bottom: 60px;
}

.play-icon:hover {
  transform: scale(1.2);
}

.play-icon:active {
  transform: scale(1);
}
