<div class="w-full h-full p-1 md:p-4 xl:p-8 bg-gray-800 rounded-sm hover:bg-gray-700 relative" (click)="routeToItemDetail(item)" id="playButtonSlider">
  <div class="relative w-full" style="padding-bottom: 100%;">
    <img class="cursor-pointer absolute w-full h-full shadow-xl" *ngIf="getItemImageSrc()" [src]="getItemImageSrc()" [ngClass]="item.type == 'artist' ? 'rounded-full' : 'rounded-md'"/>
    <div class="bg-gray-700 absolute w-full h-full shadow-xl flex items-center justify-center" *ngIf="!getItemImageSrc()" [ngClass]="item.type == 'artist' ? 'rounded-full' : 'rounded-md'"><i class="far fa-user fa-4x"></i></div>
    <i class="fas fa-play fa-sm rounded-full bg-green-600 p-3 play-icon shadow-xl"></i>
  </div>
    <h4 class="text-white font-bold text-md pt-2 py-1 hover:underline cursor-pointer title-text">
      {{ item.name }}
    </h4>
    <p class="overflow-hidden description-text" *ngIf="item.type !== 'album'">
      {{ getDescription() }}
    </p>
    <ng-container *ngIf="item.type == 'album'">
      <a class="cursor-pointer hover:underline" *ngFor="let artist of item.artists" (click)="routeToItemDetail(artist)">{{artist.name}}</a>
    </ng-container>
</div>
